<header class="site-header">

    <h1>I’m <b>Maria Boldyreva</b>, a programmer<br />currently living and working in Khabarovsk, Russia.</h1>

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

</header>
