.page {
  max-width: 960px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 18vh auto 0;
  flex-direction: column;
}

.page * {
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}

h1 {
  font-size: 3.5vh;
  font-weight: 300;
  margin: 4vh 0 3vh 0;
  text-align: center;
  padding: 0 1vh;
}

.link-icon {
    text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.social-icons a {
  margin: 0 1.5vh;
}

.social-icons svg {
  width: 4vh;
  height: 4vh;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}
